<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil"> 
    </div>
    <div class="col-xs-12 col col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Marigliano Diego Emmanuel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col col-sm-8 col-md-8 col-lg-8">
        <span>
           <h1>Acerca de mi</h1> 
           <p>Mi nombre es Diego Marigliano, tengo 38 años y soy Ingeniero Electrónico. Actualmente trabajo como programador de PLC, donde aplico mis conocimientos en electrónica para desarrollar sistemas automatizados. Además de mi experiencia en programación de PLC, también tengo habilidades en C++, lo que me permite abordar proyectos desde diferentes perspectivas.

            Recientemente, acabé de completar un curso de desarrollo Full Stack, lo que me permite tener habilidades completas en el desarrollo web, desde el front-end hasta el back-end y base de datos. Estoy emocionado de aplicar mis nuevas habilidades en proyectos futuros y seguir aprendiendo y creciendo en mi carrera.
            
            Con una solida formación en electrónica y experiencia en programación, estoy seguro de poder aportar valor en cualquier proyecto en el que trabaje, y estoy dispuesto a trabajar duro para alcanzar los objetivos de mi equipo y de mi empresa. Si estas buscando un profesional con habilidades técnicas sólidas y un enfoque en el aprendizaje continuo, no dudes en ponerte en contacto conmigo.</p>
        </span>
    </div>

</div>
